<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Create lecture</title>
    <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
   
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="#">University</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item">
        <a class="navbar-brand" href="lectures">Lectures</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="students">Students</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="teachers">Teachers</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="groups">Groups</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="audiences">Audiences</a>
      </li>
      <li class="nav-item">
        <a class="navbar-brand" href="dates">Dates</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search by id" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div align="center">
<h2>New lecture</h2>
<form action="#" th:action="@{/lectures/create/save}" th:object="${lectureRequest}" method = "post">
  <input type="hidden" th:value="${lectureRequest.id}" name="Id" />
  <tr>
  <div>
            <label for="selectStudent" class="col-sm-2 col-form-label">Student:</label>
            <div class="col-sm-10">
                <select class="form-control" id="selectStudentId" th:field="*{studentId}" required>
                    <option value="0" th:disabled="${lectureRequest.studentId!=0}" >
                        Choose student
                    </option>
                    <option th:each="student: ${students}" th:value="${student.id}"
                            th:text="${student.name}"
                            th:selected="${lectureRequest.studentId!=null}">Student
                    </option>
                </select>
            </div>
        </div>
        
        
        <div>
            <label for="selectTeacher" class="col-sm-2 col-form-label">Teacher:</label>
            <div class="col-sm-10">
                <select class="form-control" id="selectTeacherId" th:field="*{teacherId}" required>
                    <option value="0" th:disabled="${lectureRequest.teacherId!=0}" >
                        Choose teacher
                    </option>
                    <option th:each="teacher: ${teachers}" th:value="${teacher.id}"
                            th:text="${teacher.name}"
                            th:selected="${lectureRequest.teacherId!=null}">Teacher
                    </option>
                </select>
            </div>
        </div>
        
        
        
        <div>
            <label for="selectAudience" class="col-sm-2 col-form-label">Audience:</label>
            <div class="col-sm-10">
                <select class="form-control" id="selectAudienceId" th:field="*{audienceId}" required>
                    <option value="0" th:disabled="${lectureRequest.audienceId!=0}" >
                        Choose audience
                    </option>
                    <option th:each="audience: ${audiences}" th:value="${audience.id}"
                            th:text="${audience.number}"
                            th:selected="${lectureRequest.audienceId!=null}">Audience
                    </option>
                </select>
            </div>
        </div>
        
        
        
        <div>
            <label for="selectDate" class="col-sm-2 col-form-label">Date:</label>
            <div class="col-sm-10">
                <select class="form-control" id="selectDateId" th:field="*{dateId}" required>
                    <option value="0" th:disabled="${lectureRequest.dateId!=0}" >
                        Choose date
                    </option>
                    <option th:each="date: ${dates}" th:value="${date.id}"
                            th:text="${date.day +' / '+ date.mounth +' / '+ date.year}"
                          
                            th:selected="${lectureRequest.dateId!=null}">Date
                    </option>
                </select>
            </div>
        </div>
    <p>
    <input type="submit" value="Reset" class="btn btn-outline-dark btn-sm" />
  <input type="submit" value="Submit" class="btn btn-outline-success btn-sm" /></p>
  </tr>
  </form:form>
</body>
</html>